<div>
  <h1 class='float-left'><%= @title %></h1>

  <div id='search'>
    <% form_tag(search_resources_path, :method => :get) do %>
      <%= label_tag(:q, "Author:") %>    
      <%= text_field_tag(:q) %>
      <%= hidden_field_tag :per_page, items_per_page %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>
<div id="toolbar">
  <%= link_to 'Add items', new_resource_path %>
  | <%= @count %> items | <%= page_entries_info @resources %><br />
  <% form_tag(resources_path, :method => :get, :class => "inline-block") do %>
    Show <%= text_field_tag :per_page, items_per_page, :size => 2 %> items per page
    <%= submit_tag "Set" %>
  <% end %>
  |  <%= will_paginate @resources %>
</div>

<table class='sortable'>
  <tr>
    <th><%= sortable "medium", "Type" %></th>
    <th><%= sortable "title", "Title" %></th>
    <th><%= sortable "author", "Author" %></th>
    <th><%= sortable "checkout", "Checked Out" %></th>
    <th colspan="2"></th>
  </tr>

  <%= render :partial => 'resource', :collection => @resources %>

</table>

