<h1>Library List</h1>

<div id="toolbar">
  <%= link_to 'Add items', new_resource_path %>
  | <%= @count %> items | <%= page_entries_info @resources %><br />
  <% form_tag(resources_path, :method => :get, :class => "inline-block") do %>
    Show <%= text_field_tag :per_page, items_per_page, :size => 2 %> items per page
    <%= submit_tag "Set" %>
  <% end %>
  |  <%= will_paginate @resources %>
</div>

<table class='sortable'>
  <tr>
    <th><%= sortable "medium", "Type" %></th>
    <th><%= sortable "title", "Title" %></th>
    <th><%= sortable "author", "Author" %></th>
    <th><%= sortable "pubinfo", "Pub Info" %></th>
    <th><%= sortable "checkout", "Checked Out" %></th>
    <th colspan="2"></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%=h Resource::MEDIA_DESC[resource.medium] %></td>
    <td><%= link_to h(resource.title), resource %></td>
    <td><%=h resource.author %></td>
    <td><%=h resource.pubinfo %></td>
    <td><%=h resource.checkout.strftime("%m-%d-%Y") %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Delete', resource, :confirm => 'Are you sure?',
              :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
