
<h1>Add Library Items</h1>

<fieldset>
  <legend>Upload Resources File</legend>
  <p class='instructions'>
    You can add new resources from a text file:
  </p>
  <ul class='instructions'>
    <li>
      Column headings on the first line: &nbsp;
      <em>Title &nbsp;  Author &nbsp;  Pub Info &nbsp;  Checkout</em>
    </li>
    <li>Data for one resource per line</li>
    <li>Columns separated by tabs</li>
    <li><strong>Title</strong>
      and <strong>Checkout</strong> are required.
    </li>
    <li>Checkout is the date the resource was checked
      out in <strong>mm-dd-yyyy</strong> form.
    </li>
  </ul>
  <% form_tag({:action => :upload_tsv}, :multipart => true) do %>
    <%= label_tag :tsv_file, "Select a file to upload: "%>
    <%= file_field_tag :tsv_file %>
    <%= submit_tag "Upload" %>
  <% end %>
</fieldset>

<fieldset>
  <legend>Add a New Resource</legend>
  <%= render :partial => "resource_form" %>
</fieldset>

<%= link_to 'Back', resources_path %>