<h1>New item</h1>

<fieldset>
  <legend>Upload Items</legend>
  <p class='instructions'>
    You can add new items from a text file:
  </p>
  <ul class='instructions'>
    <li>
      Column headings on the first line: &nbsp;
      <em>Title &nbsp;  Author &nbsp;  Pub Info &nbsp;  Checkout</em>
    </li>
    <li>Data for one item per line</li>
    <li>Columns separated by tabs</li>
    <li><strong>Title</strong>
      and <strong>Checkout</strong> are required.
    </li>
    <li>Checkout is the date the item was checked
      out in <strong>mm-dd-yyyy</strong> form.
    </li>
  </ul>
  <%= form_tag({:action => :upload_tsv}, :multipart => true) do %>
    <%= label_tag :tsv_file, "Select a file to upload: "%>
    <%= file_field_tag :tsv_file %>
    <%= submit_tag "Upload" %>
  <% end %>
</fieldset>

<fieldset>
  <legend> Add a New Item </legend>
  <%= render 'form' %>
</fieldset>

<%= link_to 'Back', items_path %>
