<div id="concours">
  <p>
    <%= image_tag('/images/concours/concours_header.png', :size => '254x83',
        :alt => 'Le Grand Concours', :class => 'float-left') %>
    <a href="http://www.frenchteachers.org/concours/gc_about/gc_about.htm"
     target="_blank">
      Le Grand Concours
    </a>
    is an annual competition run by the 
    <a href="http://www.frenchteachers.org/" target="_blank">
      American Association of Teachers of French
    </a>
    for students in grades K-12 who study French.
  </p>
  <p>  
    In the Eastern Massachusetts region the contest is facilitated through the 
    <a href="http://www.emassconcours.net/" target="_blank">EMass Concours
    website</a>.
  </p>
  <%= image_tag('/images/concours/concours_status.png', :size => '145x685',
      :alt => 'Old Status Page', :class => 'float-left') %>
  <%= image_tag('/images/concours/students_before.png', :size => '250x300',
      :alt => 'Old Students Page', :class => 'float-right') %>
  <p>  
    I have served as technical consultant to the administrator for this 
    region since January 2012 &mdash; fixing bugs, adding features, and 
    providing general technical advice.
  </p>
  <p>  
    In order to show my best work on the
    site, I would have to provide administrator credentials, which is a very
    bad idea security-wise. This page will have to suffice to show my work
    so far.
  </p>
  <p>
  <%= image_tag('/images/concours/left_arrow.png', :size => '32x32',
      :alt => 'left arrow', :class => 'float-left') %>
  <%= image_tag('/images/concours/right_arrow.png', :size => '32x32',
      :alt => 'right arrow', :class => 'float-right') %>
    The images to the left and right are examples of what the site looked like
    before I started.
  </p>
</div>
