<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>
      Beth Giobbe Portfolio | <%=h @title || params[:action].capitalize %>
    </title>
    <%= stylesheet_link_tag('application', media: 'all')  %>
  </head>
  <body>
      <header id='page-header'>
        <h1>Beth Giobbe</h1>
	<% unless @no_navigation %>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Consulting Project", pages_concours_path %></li>
            <li><%= link_to "Library History", items_path %></li>
            <li><%= link_to "Résumé", pages_resume_path %></li>
            <li><%= link_to "Vision", pages_vision_path %></li>
            <li><%= link_to "Interests", pages_interests_path %></li>
          </ul>
	</nav>
        <% end %>
      </header>

      <div id='page'>

      <!-- Notice, if any -->
      <p style="color: green"><%= notice %></p>

      <!-- Page Content -->
      <%= yield %>
      
    </div>
  </body>
</html>
